<h2> {{'MY-CART' | translate}}  </h2>
<br>

<alert-directive  message="info.alert.message"  type="info.alert.type" show="info.alert.show"></alert-directive>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <td>
        <a ng-click="info.sortType = 'name'; info.sortReverse = !info.sortReverse">
          {{'NAME' | translate}} 
          <span ng-show="info.sortType == 'name' && !info.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
          <span ng-show="info.sortType == 'name' && info.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
        </a>
      </td>

      <td>
        <a ng-click="info.sortType = 'price'; info.sortReverse = !info.sortReverse">
          {{'PRICE' | translate}}
          <span ng-show="info.sortType == 'price' && !info.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
          <span ng-show="info.sortType == 'price' && info.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
        </a>
      </td>

      <td>
        <a ng-click="info.sortType = 'available'; info.sortReverse = !info.sortReverse">
          {{'AVAILABLE' | translate}}
          <span ng-show="info.sortType == 'available' && !info.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
          <span ng-show="info.sortType == 'available' && info.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
        </a>
      </td>
      <td>
        {{'OPTIONS' | translate}}
      </td>

    </tr>
  </thead>

  <tbody>
    <tr  ng-repeat="product in data.products">
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.available | translate}} </td>
      <td> 
        <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="left"  title="{{ 'DELETE' | translate }}" ng-click="cart.removeProduct(product)">
            <span class ="glyphicon glyphicon-trash">
        </button>      
    </tr>
  </tbody>
</table>