<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{data.product.name}} </h3>
</div>
<div class="modal-body" id="modal-body">

    <div >
        <div class="thumbnail">
            <img src="{{data.product.img}}" >
            <div class="caption">
                <h4 class="pull-right"> {{data.product.price}} </h4>
                </h4>
                <p> {{data.product.description}} </p>
            </div>
        </div>
    </div>
</div>