<h2> {{'US-PRODUCTS' | translate}} </h2>
<br>

<alert-directive  message="info.alert.message"  type="info.alert.type" show="info.alert.show"></alert-directive>
<h4>{{'FILTERS' | translate}} </h4>
<form>
  <div class="form-group">
      <!--BUSCAR-->    
      <div class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input class="form-control" type="text" placeholder="{{'SEARCH' | translate}}" ng-model="info.search">
      </div>
      <!--CATEGORIAS-->
      <div class="form-group col-md-6">
        <label for="exampleSelect1">{{'CATEGORIES' | translate}}  </label>
        <select multiple class="form-control" name="categories" id="selectCategories" ng-model="info.categories">
          <option ng-repeat="category in data.categories" data-ng-value="{{category.categori_id}}">{{ category.name | translate}} </option>
        </select>
      </div>
      <!--PRECIO-->
      <div class="form-group col-md-6">
         <label for="exampleSelect1">{{'PRICE' | translate}}  </label>
        <div class="input-group">
          <div class="input-group-addon"><i >$</i></div>
          <input class="form-control" type="number" placeholder="{{'LEAST-PRICE' | translate}}" ng-model="info.leastPrice">
        </div>
        <div class="input-group">
          <div class="input-group-addon"><i >$</i></div>
          <input class="form-control" type="number" placeholder="{{'MOST-PRICE' | translate}}" ng-model="info.mostPrice">
        </div>
      </div>  
      <!--DISPONIBILIDAD-->
      <label>
        <input type="radio" ng-model="info.available" name="availableRadio"  data-ng-value="true"> {{'AVAILABLE' | translate}}
      </label>
      <label>
        <input type="radio" ng-model="info.available" name="availableRadio"  data-ng-value="false"> {{'OUT-OF-STOCK' | translate}}
      </label>      
      <label>
        <input type="checkbox" ng-model="info.bestseller"  data-ng-value="true"> {{'BESTSELLER' | translate}}
      </label><br/>  

      <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="left"  title="{{ 'CLEAR' | translate }}" ng-click="shop.clear()"> {{ 'CLEAR' | translate }}
          <span class ="glyphicon glyphicon-refresh">
      </button>
  </div>
</form>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <td>
        <a ng-click="info.sortType = 'name'; info.sortReverse = !info.sortReverse">
          {{'NAME' | translate}} 
          <span ng-show="info.sortType == 'name' && !info.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
          <span ng-show="info.sortType == 'name' && info.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
        </a>
      </td>

      <td>
        <a ng-click="info.sortType = 'price'; info.sortReverse = !info.sortReverse">
          {{'PRICE' | translate}}
          <span ng-show="info.sortType == 'price' && !info.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
          <span ng-show="info.sortType == 'price' && info.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
        </a>
      </td>

      <td>
        <a ng-click="info.sortType = 'available'; info.sortReverse = !info.sortReverse">
          {{'AVAILABLE' | translate}}
          <span ng-show="info.sortType == 'available' && !info.sortReverse" class="glyphicon glyphicon-chevron-down"></span>
          <span ng-show="info.sortType == 'available' && info.sortReverse" class="glyphicon glyphicon-chevron-up"></span>
        </a>
      </td>
      <td>
        {{'OPTIONS' | translate}}
      </td>

    </tr>
  </thead>

  <tbody>
    <tr  ng-repeat="product in data.products | orderBy:info.sortType:info.sortReverse | filter: { name: info.search } | filter:shop.priceFilter | filter: shop.availableFilter| filter : shop.bestsellerFilter | filter : shop.categoriesFilter">
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.available | translate}} </td>
      <td> 
        <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="left"  title="{{ 'DETAIL' | translate }}" ng-click="shop.modalProduct(product)">
            <span class ="glyphicon glyphicon-eye-open">
        </button>      
        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="left"  title="{{ 'ADD-TO-CART' | translate }}" ng-click="shop.addToCart(product)">
            <span class ="glyphicon glyphicon-shopping-cart">
        </button>
      </td>
    </tr>
  </tbody>
</table>