<div class="jumbotron">
  <h1>Hola Hola</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    {{'TEST-RAPPI' | translate}} 
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">{{'FANTASTIC' | translate}} <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>{{'ABOUT-FRAMEWORK' | translate}} </h4>
  <p>
    {{'FRAMEWORK-DETAIL' | translate}} 
  </p>

  <h4>{{'ABOUT-URL' | translate}} </h4>
  <p>
    {{'CONFIGURE-URL' | translate}} 
  </p>

  <h4>{{'ABOUT-PROJECT' | translate}} </h4>
  <p>{{'PROJECT-DETAIL' | translate}} </p>
</div>


